body {
  background: url(bg.jpg);
  background-size: cover;
}
.main-content {
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.title {
  color: white;
  font-size: 8rem;
  font-weight: 500;
}
.subtitle {
  color: white;
  font-size: 2rem;
  text-shadow: 0.2rem 0.2rem 10px black;
}
.glow {
  color: red;
}
#homepage {
  margin-top: 20px;
  color: white;
  padding: 1rem;
  font-size: 1.5rem;
  border: 2px solid white;
  background-color: transparent;
  cursor: pointer;
}
