body {
  margin: 0px;
  background: url(bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}
#light {
  position: absolute;
  height: 400px;
  width: 400px;
  background-color: aquamarine;
  transform: translate(-50%, -50%);
  border-radius: 100%;
}
.main-content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.title {
  color: white;
  font-size: 8rem;
  font-weight: 500;
}
.subtitle {
  color: white;
  font-size: 2rem;
  text-shadow: 0.2rem 0.2rem 10px black;
}
.glow {
  color: red;
}
#homepage {
  margin-top: 20px;
  color: black;
  padding: 0.8rem 1.6rem;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  border: 0px;
  background-color: white;
  cursor: pointer;
}
